
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="container">
    <form id="form">
        <div class="form-group">
            <label for="usr"><i class="fas fa-address-book"></i> Eposta:</label>
            <input style="width:60%" type="text" required class="form-control" id="kadi" name="kadi">
        </div>
        <div class="form-group">
            <label for="pwd"><i class="fas fa-lock"></i> Şifre:</label>
            <input style="width:60%" type="password" required class="form-control" id="sifre" name="sifre">
        </div>
        <button id="btngiris" style="width:57%; padding:15px;margin:10px;" type="submit" class="btn btn-outline-light text-dark"><h6 style="color:green">GİRİŞ YAP</h6></button>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#form').submit(function () {

            $.ajax({
                type: 'POST',
                url: '/Home/GirisYap',
                dataType: 'json',
                data: $('form').serialize(),
                success: function (cevap) {
                }

            });

        });

    });
</script>